body {
	background-image: url(../img/bg5.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	font-family: 'Open Sans', 'helvetica', arial, sans-serif;
	font-weight: 300;
	color: #62686f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-weight: 300;
}

h3 {
	font-size: 23px;
}

li {
	list-style: none;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.main-header {
	margin-top: 104px;
	height: 164px;
	background-image: url(../img/banner.jpg);
	text-align: center;
	color: white;
}

.main-header__avatar {
	margin-top: -65px;
	margin-bottom: 10px;
	box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}

h1 {
	margin-bottom: 20px;
	margin-top: 0;
	font-weight: 300;
	font-size: 50px;
	font-family: 'Open Sans', 'helvetica', arial, sans-serif;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.main-nav {
	background-color: #333;
}

.main-nav ul {
	text-align: center;
	margin: 0;
	height: 49px;
}

.main-nav ul li {
	padding: 15px 10px;
	display: inline-block;
}

.main-nav a {
	color: white;
	font-size: 0.9rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav li:hover {
	background-color: #000;
	cursor: pointer;
}

.info-section {
	padding: 30px 60px;
	background-color: #fff;
	border-bottom: 1px solid #EDEDED;
}

.whatido {
	text-align: center;
	height: 450px;
}

.whatido ul {
	overflow: hidden;
	padding-left: 0;
}

.whatido ul li {
	padding-top: 100px;
	width: 33.3%;
	float: left;
	background-repeat: no-repeat;
	background-position: center top;
}

.whatido__skill--code {
	background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
	background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
	background-image: url(../img/skill-product.png);
}

.info-section header {
	margin-bottom: 60px;
	text-align: center;
}

.info-section header h2 {
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.info-section__description {
	font-style: italic;
}

.info-section header h2:after {
	display: block;
	content: "";
	background-color: #333;
	width: 2em;
	height: .1em;
	margin: .4em auto;
}

.education-experience ul li {
	height: 250px;
}

.education-experience ul {
	padding-left: 0
}

.education-experience img {
	width: 180px;
	height: 180px;
	float: left;
	padding-right: 40px;
}

.education-experience__title {
	font-weight: bold;
}

.education-experience__description {
	overflow: hidden;
}

.photos {
	padding: 30px 0px;
}

.photos__list {
	overflow: hidden;
	padding-left: 0;
}

.photos__list li {
	float: left;
	padding: 10px;
}

.photos__list li img {
	width: 70%;
}

.get-in-touch__list li {
	float: left;
	width: 23%;
	padding-right: 2%;
}

.get-in-touch__list {
	overflow: hidden;
	text-align: center;
}

.contact input,
.contact textarea {
	border: 1px solid #ccc;
	border-radius: 4px;
}

.contact button {
	border: none;
	border-radius: 9999px;
	background: #ffd524;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #fff;
	box-shadow: 0 3px 0 #daae1d;
	height: 34px;
	font-size: 22px;
}

.contact form {
	width: 40%;
	position: relative;
	margin: 0 auto;
}

.contact form button {
	width: 100%;
}

.contact input,
.contact textarea {
	padding: 8px;
	margin-bottom: 20px;
	display: block;
	width: 100%;
}

.contact label {
	position: absolute;
	left: -90px;
	width: 80px;
	text-align: right;
}